
.main-body{
  background-image: url("");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ffffff;

  border-radius: 2px;
}

.main-body h2{
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}

.tab-pane h4{
  font-weight: none;
}


@media screen and (min-width: 576px) {
.main-body h2{
  padding: 2rem 5rem;
  font-weight: bold;
  }
  .tab-pane h4{
  font-weight: bold;
  }
}
