{% extends 'posts/base_template.html' %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block content %}
        <h3 style="margin-top: 150px; text-align: center" >Login</h3>
        <form method="POST" style="margin-top:20px">
            {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">

              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              
              <button type="submit" class="btn btn-primary">Login</button>
        </form>


{% endblock content %}


